.container {
  min-height: 250px;
  background-color: #f4f1f1;
  .split {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 800px) {
      grid-auto-flow: column;
    }
  }
}
