.container {
	max-width: 730px;
	// background-color: aqua;
}
.author {
	display: flex;
	align-items: center;
}
.title {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}

.metaData {
	font-size: 14px;
	font-weight: 400;
}

.summary {
	margin-top: 15px;
	font-size: 22px;
	font-weight: 400;
	color: rgba(117, 117, 117);
	line-height: 25px;
}

.imageContainer {
	display: flex;
	justify-content: center;
	padding: 25px 0px 25px 0px;
}

.image {
	max-height: 350px;
	max-width: 730px;
}
