@keyframes example {
  from {
  }
  to {
    height: 0px;
  }
}
@keyframes exampleopen {
  from {
    height: 0px;
  }
  to {
    height: 320px;
  }
}

/* The element to apply the animation to */
.container-close {
  height: 320px;
  visibility: hidden;
  animation-name: example;
  animation-fill-mode: forwards;

  animation-duration: 1.5s;
}
.container-open {
  height: 320px;
  animation-fill-mode: forwards;
  animation-name: exampleopen;
  animation-duration: 1s;
}

.content{
  flex-grow: 1;
}

.toolbar {
  display: flex;
  align-items: center;
}
